version: 2.1

jobs:
  install:
    docker:
      - image: node:lts
    steps:
      - checkout
      - run: apt update
      - run: apt upgrade
      - run: apt install chromium -y
      - run: npm install
      - run: curl -o ./src/app/audio/api_analysis_analyse_1xRg5kRYm923OSqvmCZnvJ.json https://eternalbox.dev/api/analysis/analyse/1xRg5kRYm923OSqvmCZnvJ
      - persist_to_workspace:
          path: stream-intermission
          root: ~
  test:
    docker:
      - image: node:lts
        user: node
    environment:
      CHROME_BIN: /usr/bin/chromium
    steps:
      - run: npm run test:ci

workflows:
  main:
    jobs:
      - install
      - test:
          requires:
            - install
